<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta
  name="ad.size"
  content="width={{creative.format.width}}, height={{creative.format.height}}"
/>
<title>
  {{creative.format.name}}
  |
  {{project.campaign.name}}
  |
  {{project.brand.name}}
</title>
<link
  rel="icon"
  href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABRElEQVRIS9WUgQ1BQQyG2YAN2IAN2IAN2IAJMAEmYAMjsAEjGMEG9EvupPru3ZVExCWN5961399e+5qNL6/ml+M3fgYYSGYLsZvYXOzqyBSfS/B5Hs9lsAwQDg/FTjUQAq/FekFIX0MsoGPU4jgT24tNE4CR7B3UPplmAedQEq32HhS1EwCdJa8p50afsxkc5SUpoxbVE7GdGEDKpBcl4XwrbFbUs28BOJGFXTh31aYOjpCtGGdoipeVumTqSgd1ghMKeaZDqC9rIIZ6yrFKBY6UXBcRGEX8EgzVGgKU9xXVOgXvoNVBbEUq/70AHD+CeACUhuCnTyAlgO4WLpg7eCuTHEAHt93ihtQBcsHjRbogKYAnuBuSmuQ4/sUhCpRsJhYQv57e4DYThm6sh6+uRNfShCYmLH70Xia71KbFSS0d+H/AA5yiVhnav5FdAAAAAElFTkSuQmCC"
/>