<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta
  name="ad.size"
  content="width={{creative.format.width}}, height={{creative.format.height}}"
/>
<title>
  {{creative.format.name}}
  |
  {{project.campaign.name}}
  |
  {{project.brand.name}}
</title>
<link
  rel="icon"
  href=" data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAArElEQVRIie2UQQ3EIBBFnwQkrAQkVEKlrAQcrISVUAkrAQmVUAntodOQNCxDO5lbfzIXBuaR/A/w6KImYDXWrwWwDj9KBZwVZH1pHbYAkOGrwFwAWXqDF+AjvbcXIEnv6wUY0WN4CRCAKIOTDNaS1A3IlNTU6mUFHDfN7K87sadHS1I3IFLPu5Ykk8lQjJ68AJG20WZAUPaYAQAzxafbALfvOjcO9da/ADyqawMIjqbqFtrGGQAAAABJRU5ErkJggg=="
/>