<!DOCTYPE html>
<html lang="">
  <head>
    {{> header}}    
  </head>
  <body>
    {{#equal creative.format.slug "ra"}}
      <script>
        {{#equal environment "development"}}
        var item = { 
          adoptions: {
            resources: "{{{ creative.slug }}}",
            markup: `{{{ markup }}}`,
            caption: "{{{ creative.caption }}}",
            options: { 
              type: 1,
            },
          }
        };
        {{else}}
        var adoptions = {
            resources: "{{{ creative.slug }}}",
            markup: `{{{ markup }}}`,
            caption: "{{{ creative.caption }}}",
            options: { 
              type: 1,
            },
        };
        {{/equal}}
      
      {{#equal environment "development"}}
      var PLISTA = {debug: true, noCache: true, fc: false, require: ['xhr'], publickey: "f9be9872bb27f6cf063c943e4069a5c44ff3d33e", widgets: [{"name": "flyad", "items": [item]}]};
      (function(){var n='script',d=document,s=d.createElement(n),s0=d.getElementsByTagName(n)[0];s.async='async';s.type='text/javascript';s.src=(d.location.protocol==='https:'?'https:':'http:')+'//static.plista.com/async.js';s0.parentNode.insertBefore(s,s0)}());
      {{/equal}}
      </script>

      {{#equal environment "development"}}
      <script src="https://static.plista.com/upload/videos/demo/preview.js"></script>
      {{/equal}}

    {{/equal}}

    {{#equal creative.format.slug "bboost"}}
      <div class="container bboost mobile-splitter-active creative creative--{{creative.format.slug}}">
        {{{markup}}}
        <div class="bboost--btn bboost--btn-close">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" width="14" height="14" fill="transparent">
            <path
              d="m8.4 7 5.3-5.3c.4-.4.4-1 0-1.4s-1-.4-1.4 0L7 5.6 1.7.3C1.3-.1.7-.1.3.3s-.4 1 0 1.4L5.6 7 .3 12.3c-.4.4-.4 1 0 1.4.2.2.4.3.7.3s.5-.1.7-.3L7 8.4l5.3 5.3c.2.2.5.3.7.3s.5-.1.7-.3c.4-.4.4-1 0-1.4L8.4 7Z" />
          </svg>
        </div>
        <div class="creative--preloader"></div>
        {{#if creative.format.admark}}
          <span class="creative--admark">{{creative.format.admark}}</span>
        {{/if}}
      </div>

      {{else}}
      <a href="javascript:void(0)" class="creative--clicktag" target="_blank">
        <div class="creative creative--{{creative.format.slug}}">
          {{{markup}}}
          <div class="creative--preloader"></div>
          {{#if creative.format.admark}}
            <span class="creative--admark">{{creative.format.admark}}</span>
          {{/if}}
        </div>
      </a>

    {{/equal}}
  </body>
</html>